* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  background-image: linear-gradient(to right, #ff8974, rgb(226, 226, 116));
}
h1 {
  color: #ffffff;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  position: relative;
  top: -90px;
}
.todo-item {
  display: flex;
  padding-top: .6rem;
}
.button {
  margin-right: auto;
  text-align: center;
}
.todo-write {
  width: 250px;
  max-height: 30px;
  background-color: #ffffff;
  padding: 0.3rem;
  margin-left: auto;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 600px;
  text-align: center;
}
.todo-contant {
  margin: auto auto;
  padding: 10%;
  text-align: center;
  transform: translateX(-50%), translateY(-50%);
}
select::after {
  content: "\25BC";
  background-color: #ff8974;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}
.todo-button {
  background-color: white;
  text-align: center;
  border: none;
  width: 30px;
  height: 35px;
  position: relative;
  left: -4px;
  top: 4px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.3s;
}
.todo-button:hover {
  background-color: #ff8974;
}
.style-span {
  font-size: 1.5rem;
  color: #ff8974;
}
.style-span:hover {
  font-size: 1.5rem;
  color: white;
}
.fa-check-span{
  font-size: 1.5em;
}
.fa-trash-span{
  font-size: 1.5em;
}
.todo-times {
  background-color: #ff8974;
  color: #ffffff;
  text-align: center;
  border: none;
  width: 30px;
  height: 30px;
  position: relative;
  left: -3.13245px;
  transition: all 0.3s;
}
.todo-times:hover {
  background-color: #ffffff;
  color: #ff8974;
}
.todo-check {
  background-color: #62e662;
  color: #ffffff;
  text-align: center;
  border: none;
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.3s;
}
.todo-check:hover {
  background-color: #ffffff;
  color: #62e662;
}
.todo-input {
  width: 200px;
  height: 35px;
  border: none;
  padding: 5px;
}
#option {
  width: 70px;
  height: 33px;
  color: #ff8974;
  font-size: 16px;
  border: none;
}
